<div>
	<nav>
	    <ul>
	        <li><a href="http://julievera.github.io/portfolio/index.html">Julie<span> Vera</span></a></li>
	        <li><a href="http://julievera.github.io/portfolio/index.html#about">About</a></li>
	        <li><a href="http://julievera.github.io/portfolio/index.html#work" class="scroll">Work</a></li>
	        <li><a href="http://julievera.github.io/portfolio/index.html#cv" class="scroll">CV</a></li>
	        <li><a href="http://julievera.github.io/portfolio/index.html#contact" class="scroll">Contact</a></li>
	        <li><a href="http://julievera.github.io/portfolio/blog.html">Blog</a></li>
	    </ul>
	</nav> 
</div>  
