

{% include head.html %}

<div class="card" id="card1">

	{% include nav.html %}

	<div class="announce"><em><h2>welcome to my brain:</h2></em></div>
	
	<div id="post_container">
		
		  {% for post in site.posts %}
		  
		      <p><h2>{{ post.title }}</h2></p>
		      <h6>Categories: <span>{{ post.categories }}</span></h6>
		      <h6>{{ post.date | date:"%A, %B %-d, %Y"}}</h6>
		      <h6>{{ post.author }}</h6>
			  <div id="post_body">
			      
			      <p>{{ post.content }}</p>	
		
			  </div>
		  {% endfor %}
		
	</div>

	

</div>
{% include footer.html %}

